<mat-card>
  <mat-card-title>Вхід</mat-card-title>
  <mat-card-content>
    <form (submit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="login" name="login">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Пароль" type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!login || !password">Увійти</button>
    </form>
    <a [routerLink]="['/forgot_password']">Отримати пароль</a>
  </mat-card-content>
</mat-card>

