<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.group.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subjects">
      <mat-header-cell *matHeaderCellDef> Subjects </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="[element.group.id, 'subjects', subject.id, 'students']" *ngFor="let subject of element.subjects">{{subject.name}}</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
