<mat-form-field>
  <mat-select placeholder="Group" (selectionChange)="onGroupChange($event)" [(value)]="selectedGroup">
    <mat-option *ngFor="let group of groups" [value]="group.id">
      {{ group.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Subject" (selectionChange)="onSubjectChange($event)" [(value)]="selectedSubject">
    <mat-option *ngFor="let subject of subjects" [value]="subject.id">
      {{ subject.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<router-outlet></router-outlet>
