mat-form-field {

  &:first-of-type  {
    margin-right: 20px;
  }
}

a {
  color: #8BC34A;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}
