mat-card {
  width: 300px;
  margin: 30px auto 0;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
}

a {
  color: #26418f;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}
