header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 20px;
}

button {
  height: 40px;
}

.cdk-column-delete {
  max-width: 40px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
