<mat-card>
  <header>
    <h3 *ngIf="student.firstName">{{student.lastName + ' ' + student.firstName}}</h3>
    <button mat-button
            color="primary"
            class="add-points-button"
            (click)="openDialog()"
            *ngIf="finalGrade === null"
    >
      <mat-icon>star_rate</mat-icon>
      Додати бали
    </button>
    <button mat-button
            color="accent"
            class="add-points-button"
            (click)="setFinalGrade()"
            *ngIf="currentGradesTotal > 59 && finalGrade === null"
    >
      <mat-icon>star_rate</mat-icon>
      Поставити остаточну оцінку
    </button>
    <div *ngIf="finalGrade">
      Оцінка за курс: {{finalGrade.value}}
    </div>
  </header>

  <mat-table *ngIf="grades" #table [dataSource]="dataSource">

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Опис </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> Кількість балів </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Дата </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.createdAt | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="onDelete(element)" *ngIf="finalGrade === null">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
