<mat-card>
  <mat-card-title>Change password</mat-card-title>
  <mat-card-content>
    <form (submit)="onSubmit()">

      <mat-form-field>
        <input matInput
               placeholder="Current password"
               type="password"
               [(ngModel)]="oldPassword"
               name="oldPassword"
        >
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="New password"
               type="password"
               [(ngModel)]="newPassword"
               name="newPassword"
        >
      </mat-form-field>

      <button mat-raised-button type="submit">Change</button>

    </form>
  </mat-card-content>
</mat-card>

