<div class="mat-elevation-z8">
  <header>
    <h2>Група {{group.code}}</h2>

    <button mat-button
            class="add-button"
            color="primary"
            (click)="openAddStudentDialog()"
    >
      <mat-icon>add</mat-icon>
      Додати студента
    </button>
  </header>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> ПІБ студента </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName + ' ' + element.firstName + ' ' + element.middleName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="openEditStudentDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>




