<mat-card>
  <mat-card-title>Зміна паролю</mat-card-title>
  <mat-card-content>
    <form (submit)="onSubmit()">

      <mat-form-field>
        <input matInput
               placeholder="Поточний пароль"
               type="password"
               [(ngModel)]="oldPassword"
               name="oldPassword"
        >
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Новий пароль"
               type="password"
               [(ngModel)]="newPassword"
               name="newPassword"
        >
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="!oldPassword || !newPassword">Змінити</button>

    </form>
  </mat-card-content>
</mat-card>

