header {
  background: #ffc947;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-tab-link {
  min-width: 140px;
}

.nav-active {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.9;
}
