<div class="example-container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef class="centered-cell" mat-sort-header> Points </mat-header-cell>
      <mat-cell *matCellDef="let element" class="centered-cell"> {{element.points}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mark">
      <mat-header-cell *matHeaderCellDef class="centered-cell"> Mark </mat-header-cell>
      <mat-cell *matCellDef="let element" class="centered-cell"> {{element.mark}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef class="centered-cell" mat-sort-header> Year </mat-header-cell>
      <mat-cell *matCellDef="let element" class="centered-cell"> {{element.year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="semester">
      <mat-header-cell *matHeaderCellDef class="centered-cell"> Semester </mat-header-cell>
      <mat-cell *matCellDef="let element" class="centered-cell"> {{element.semester}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teacher">
      <mat-header-cell *matHeaderCellDef> Teacher </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.teacher}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

