<div class="mat-elevation-z8">
  <header>
    <mat-form-field *ngIf="subjects && (subjects.length > 0)">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Пошук">
    </mat-form-field>

    <button mat-button
            class="add-button"
            color="primary"
            (click)="openAddSubjectDialog()"
    >
      <mat-icon>add</mat-icon>
      Додати новий предмет
    </button>
  </header>

  <div class="placeholder" *ngIf="!subjects || (subjects.length < 1)">
    Жодного предмета не додано
  </div>

  <mat-table #table [dataSource]="dataSource" *ngIf="subjects && (subjects.length > 0)">

    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef> Предмет </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="openEditSubjectDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

