header {
  color: white;
  background: #3f51b5;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

nav {
  border-bottom: 0;
}

.mat-tab-link {
  min-width: 140px;
  color: white;
  opacity: 1;
}

.nav-active {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.9;
}
