<h1 mat-dialog-title>Add Subject To This Group</h1>

<div mat-dialog-content>

  <mat-form-field>
    <mat-select placeholder="Subject" [(value)]="selectedSubject">
      <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Teacher" multiple>
      <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
        {{ teacher.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button
          (click)="onAddClick()"
          color="primary"
  >
    Add
  </button>
</div>

