<h1 mat-dialog-title>Додати предмет для групи</h1>

<div mat-dialog-content>
  <form (submit)="onSubmit()">

    <mat-form-field>
      <mat-select placeholder="Предмет" [(value)]="selectedSubject">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{ subject.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group [(ngModel)]="selectedAssessmentType" name="assessmentTypes">
      <mat-radio-button *ngFor="let type of assessmentTypes" [value]="type">
        {{type.description}}
      </mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="primary" type="submit">
      <span>Додати</span>
    </button>
  </form>
</div>

