<h2>Група {{group.code}}</h2>
<div class="flex-wrapper">
  <mat-nav-list>
    <a mat-list-item
       [routerLink]="['year', semester.year, 'semesters', semester.semesterNumber]"
       routerLinkActive="nav-active"
       *ngFor="let semester of semesters"
    >
      <span>
        {{semester.courseNumber + ' курс ' + semester.semesterNumber + ' семестр' }}
      </span>
      <span *ngIf="semester.isCurrent" title="Поточний семестр">
        *
      </span>
    </a>
  </mat-nav-list>
  <div class="table-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

