<h1 mat-dialog-title *ngIf="mode === 'add'">Новий викладач</h1>
<h1 mat-dialog-title *ngIf="mode === 'edit'">Редагування викладача</h1>

<div mat-dialog-content>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Прізвище" [(ngModel)]="lastName" name="lastName">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Ім'я" [(ngModel)]="firstName" name="firstName">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="По батькові" [(ngModel)]="middleName" name="middleName">
    </mat-form-field>

    <mat-form-field *ngIf="mode === 'add'">
      <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="!lastName || !middleName || !firstName || (!email && (mode === 'add'))">
      <span *ngIf="mode === 'add'">Додати</span>
      <span *ngIf="mode === 'edit'">Редагувати</span>
    </button>
  </form>
</div>

