@import '~@angular/material/theming';

@include mat-core();

$grades-app-primary: mat-palette($mat-light-green);

$grades-app-accent:  mat-palette($mat-amber);

$grades-app-warn:    mat-palette($mat-red);

$grades-app-theme: mat-light-theme($grades-app-primary, $grades-app-accent, $grades-app-warn);


@include angular-material-theme($grades-app-theme);
