<mat-card>
  <mat-card-title>Для отримання паролю вкажіть електронну пошту вашого облікового запису</mat-card-title>
  <mat-card-content>
    <form (submit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" name="email" [(ngModel)]="email">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!email">Надіслати</button>
    </form>
    <a [routerLink]="['/login']">Повернутись до сторінки входу</a>
  </mat-card-content>
</mat-card>

