<div class="mat-elevation-z8">
  <header>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <button mat-button
            class="add-button"
            color="primary"
            (click)="openAddGroupDialog()"
    >
      <mat-icon>add</mat-icon>
      Add New Group
    </button>
  </header>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="group">
      <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="speciality">
      <mat-header-cell *matHeaderCellDef> Speciality </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.speciality.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="students">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <a [routerLink]="[element.id, 'students']">Students</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subjects">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <a [routerLink]="[element.id, 'subjects']">Subjects</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="openEditGroupDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>



